<p id="notice"><%= notice %></p>

<h1>Listing Products</h1>

<table border=1>
  <thead>
    <tr>
      <th><%= check_box_tag "selectAll" %> &nbsp; &nbsp;Select/Deselect All</th>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= check_box_tag("all_products[]", product.id, nil, id: "product_id_#{product.id.to_s}") %></td>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td><%= product.price %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<script type="text/javascript">
  $(document).ready(function(){
    $('#selectAll').click(function() {
    if (this.checked) {
      $(':checkbox').each(function() {
        this.checked = true;
      });
    }
    else {
      $(':checkbox').each(function() {
        this.checked = false;
      });}
    });
  });
</script>
