<h1>New Product</h1>

<%= form_tag step2_products_path, method: :post, id: 'step1' do %>

  <table border="1">

      <tr>
        <th><%= check_box_tag "selectAll" %> &nbsp; &nbsp;Select/Deselect All</th>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
      </tr>

      <tr>
        <tr>
          <%= check_box_tag("all_products[]", product.id, nil, id: "product_id_#{product.id.to_s}") %>
        </tr>
        <tr> <%= text_field_tag :name %> </tr>
        <tr> <%= text_field_tag :description %> </tr>
        <tr> <%= text_field_tag :price %> </tr>
      </tr>
  </table>
  <%= submit_tag "Next", class: 'btn btn-primary', id: "step2" %>

<% end %>

<script type="text/javascript">
  $(document).ready(function(){

    $checks = $(":checkbox");
    $checks.on('change', function() {
        var string = $checks.filter(":checked").map(function(i,v){
            return this.value;
        }).get().join(" ");
        $('#field_results').val(string);
    });

    
    $('#selectAll').click(function() {
    if (this.checked) {
      $(':checkbox').each(function() {
        this.checked = true;
      });
    }
    else {
      $(':checkbox').each(function() {
        this.checked = false;
      });}
    });
  });
</script>
