<p id="notice"><%= notice %></p>

<h1>Listing Products</h1>

Total Amount : <b><span id="totalCost"> </span></b>
<br><br>
<%= form_tag step2_products_path, method: :get, id: 'step1' do %>
  <table border=1>
    <thead>
      <tr>
      <th></th>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
      </tr>
    </thead>

    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td><input type="checkbox" value="<%=product.price%>" name="products" class="pcs" ></td>
          </td>
          <td><%= product.name %></td>
          <td><%= product.description %></td>
          <td><%= product.price %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= hidden_field_tag :total_amount %>

  <br>
  <%= submit_tag "Next", id: "step2" %>

<% end %>


<script type="text/javascript">
  $(document).ready(function(){

    $('.pcs').change(function () {
      var total = 0;
      $('input[name="products"]:checked').each(function() {
        total+= parseFloat(this.value);
        if (total < 0){
          total = 0
        }
      });
      $("#totalCost").text("$"+total.toFixed(2));
      $("#total_amount").val(total.toFixed(2));
    })
  });
</script>
